$body-bg: #f8fafc;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$gray: #818d97;
$borderGray: #f0eff4;
$dark: #545454;
$blue: #5e88fc;
$lightRed: #ffeef0;
$red: #ce6973;
$darkRed: #bd4d58;
$lightGreen: #eafff7;

$borderRadius: 6px;

$maxInputWidth: 400px;

$green: #5c8d89;
$lightGreen: #8db4b1;

$transition: 0.3s;
