.game__container {
    position: relative;
    min-height: 100vh;

    .map__floor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .daylight__container {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            filter: brightness(0.2);
            max-width: 200px;
        }
    }

    .game__map--container {
        background-color: #b9ffb9;

        .map-square {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ececec;
            transition: $transition;

            .map-element__during-build--container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ececa5;
            }

            .map-empty {
                width: 100%;
                height: 100%;
            }

            img {
                width: 80%;
                height: 80%;
                filter: brightness(140%);
            }

            .road-backlight {
                background-color: rgb(167, 167, 250);
            }

            .map-element__container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .description-top-right {
                    top: 0;
                    right: 90px;
                }
                .description-bottom-right {
                    bottom: 0;
                    right: 90px;
                }

                .description-top-left {
                    top: 0;
                    right: -150px;
                }
                .description-bottom-left {
                    bottom: 0;
                    right: -150px;
                }

                .map-element__description--container {
                    position: absolute;

                    background-color: #fff;
                    width: 30%;
                    min-width: 165px;
                    padding: 15px;
                    text-align: center;
                    -webkit-box-shadow: 0px 0px 16px 0px rgba(201, 201, 201, 1);
                    -moz-box-shadow: 0px 0px 16px 0px rgba(201, 201, 201, 1);
                    box-shadow: 0px 0px 16px 0px rgba(201, 201, 201, 1);
                    z-index: 1;

                    .map-element__description--header {
                        margin: 0;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    .map-element__description--content {
                        margin: 0;
                        font-size: 12px;
                    }
                    .map-element__description--progress {
                        margin-top: 10px;
                        font-weight: 600;
                    }
                }
            }
        }

        .map-square:hover {
            background-color: #a3f0a3;
        }

        .map__left-top--btn {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 100;
            background-color: #012d4a;
            color: #fff;
            cursor: pointer;
            transition: $transition;

            p {
                margin: 0;
                padding: 12px;
                font-weight: 600;
            }
        }
        .map__left-top--btn:hover {
            background-color: #294e65;
        }
        .road{
            background-size: 100% 100%;
        }
        .road-horizontal {
            width: 100%;
            height: 100%;
            background-image: url('/images/road-horizontal.png?v=1')
        }
        .road-vertical {
            width: 100%;
            height: 100%;
            //background-color: #ccc;
            background-image: url('/images/road-vertically.png?v=1')
        }
        .road-right-bottom {
            position: relative;
            width: 100%;
            height: 100%;
            right: 0;
            box-sizing: content-box;
            background-image: url('/images/road-right-bottom.png?v=1')
        }
       
        .road-right-top {
            position: relative;
            width: 100%;
            height: 100%;
            right: 0;
            box-sizing: content-box;
            background-image: url('/images/road-right-top.png?v=1')
        }
       
        .road-left-top {
            position: relative;
            width: 100%;
            height: 100%;
            right: 0;
            box-sizing: content-box;
            background-image: url('/images/road-left-top.png?v=1')
        }
        
        .road-left-bottom {
            position: relative;
            width: 100%;
            height: 100%;
            right: 0;
            box-sizing: content-box;
            background-image: url('/images/road-left-bottom.png?v=1')
        }
      

        
    }

    .bottom-panel-game__container {
        position: fixed;
        bottom: 0;
        z-index: 20;
        left: 0;
        background-color: #012d4a;
        color: #fff;
        width: 100%;
        padding: 15px 30px;
        -webkit-box-shadow: 0px -2px 10px 0px #333333;
        -moz-box-shadow: 0px -2px 10px 0px #333333;
        box-shadow: 0px -2px 10px 0px #333333;

        .bottom-panel__naxt-day--btn {
            background-color: #fff;
            color: #012d4a;
            text-align: center;
            padding: 5px 30px;
            text-transform: uppercase;
            font-weight: 800;
            border: 2px solid #fff;
            transition: 0.3s;
            cursor: pointer;
        }

        .bottom-panel__naxt-day--btn:hover {
            background-color: #012d4a;
            color: #fff;
        }

        p {
            margin: 0;
            font-size: 12px;
        }

        .bottom-panel-game--logo {
            max-height: 58px;
            cursor: pointer;
            transition: $transition;
        }
        .bottom-panel-game--logo:hover {
            opacity: 0.7;
        }
    }

    .zoom-btns__container {
        position: fixed;
        bottom: 205px;
        right: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: $transition;

        div {
            padding: 15px;
            cursor: pointer;
            text-align: center;
            transition: $transition;

            p {
                margin: 0;
                font-size: 20px;
                line-height: 12px;
            }
        }
    }
    .zoom-btns__container--enable:hover {
        background-color: rgb(236, 236, 236);
    }
    .zoom-btns__container--disable {
        opacity: 0.5;
    }

    .map-raad-person__container {
        position: fixed;
        bottom: 150px;
        right: 20px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        width: 41px;
        height: 41px;

        img {
            height: 25px;
        }
    }
    .map-raad-person__container:hover {
        background-color: rgb(236, 236, 236);
    }

    .three-d__container {
        position: absolute;
        z-index: 15;
        top: 0px;
        width: 100%;
        height: 100vh !important;

        canvas{
            height: 100vh !important;
        }
    }
}

.action-modal__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .action-modal__close {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #012d4a;
        padding: 11px 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        cursor: pointer;

        img {
            width: 12px;
        }
    }

    .action-modal__close:hover {
        background-color: #294e65;
    }

    .action-modal__sidebar--container {
        padding-right: 60px;

        .sidebar__element {
            display: flex;
            align-items: center;
            margin: 10px 0;
            cursor: pointer;

            img {
                max-height: 40px;
            }
            p {
                margin: 0;
                font-size: 14px;
                padding-left: 20px;
            }
        }
    }

    .options__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-y: scroll;
        width: 60vw;
        .options__element {
            max-width: 300px;
            text-align: center;
            flex: 1 0 31%;
            margin-bottom: 50px;
            margin-left: 1%;
            margin-right: 1%;
            flex-direction: column;
            justify-content: flex-end;
            display: flex;

            img {
                max-height: 110px;
                max-width: 90%;
                margin: 0 auto;
                filter: brightness(130%);
            }
            .options__element--header {
                margin: 10px 0;
                font-size: 16px;
                font-weight: 600;
            }
            .options__element--description {
                font-size: 12px;
                margin: 10px 0;
            }
            .options__element--cost {
                font-size: 14px;
                font-weight: 600;
                margin: 10px 0;
            }
            .options__element--submit {
                border: 3px solid #012d4a;
                cursor: pointer;
                transition: $transition;

                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: #012d4a;
                }
            }
            .options__element--submit:hover {
                background-color: #012d4a;

                p {
                    color: #fff;
                }
            }
        }
    }

    .modal__content {
        p.modal__content--header {
            font-size: 20px;
            font-weight: 600;
        }
        p.modal__content--description {
            font-size: 16px;
        }
    }
}

.hide {
    display: none;
}

@media screen and (max-width: 480px) {
    .bottom-panel-game__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .bottom-panel-game__element {
            flex: 1 0 50%;
        }

        button.bottom-panel__naxt-day--btn{
            width: 100%;
            margin-top: 17px;
        }
    }

    .action-modal__container {
        .options__container {
            max-height: 255px;
            .options__element {
                flex: 1 0 55%;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 980px) {
    .bottom-panel-game__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-modal__container {
        .options__container {
            max-height: 600px;
            .options__element {
                flex: 1 0 48%;
            }
        }
    }
}

@media screen and (min-width: 981px) {
    .bottom-panel-game__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .action-modal__container {
        .options__container {
            max-height: 600px;

            .options__element {
                flex: 1 0 31%;
            }
        }
    }
}
