.page__main-section--container {
    background-image: url("/images/land-of-mine-landing-bg.jpg?v=1"),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .page__main-section--wrapper {
        height: 100%;

        h1,
        h2,
        h3,
        p {
            color: "#333";
        }

        .page__main-section--content {
            height: 100%;
            position: relative;

            .page__main-section--top {
                text-align: center;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: "Notable", sans-serif;
                color: #fff;
            }
            a {
                position: absolute;
                bottom: 0;
                color: #fff;
                font-size: 7px;
                right: 10px;
            }
            .main-section__top--btn {
                border: 6px solid #fff;
                padding: 0 30px;
                margin-top: 30px;
                transition: $transition;
                cursor: pointer;
                p {
                    margin-bottom: 8px;
                    line-height: 36px;
                    padding: 5px 0;
                }
            }
            .main-section__top--btn:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .page__main-section--divider {
            width: 10%;
            max-width: 60px;
            height: 3px;
            background-color: #333;
        }
    }
}
.page__main-section--top-panel {
    margin: 0 auto;
    position: fixed;
    top: 20px;
    z-index: 10;
    left: 0;
    right: 0;

    .top-panel__wrapper {
        width: 90%;
        max-width: 950px;
        margin: 0 auto;
        position: relative;

        .top-panel__left--container {
            img {
                cursor: pointer;
            }
            img:hover {
                opacity: 0.8;
            }
        }
        .top-panel__right--container {
            p {
                text-transform: uppercase;
                color: #333;
                font-weight: 600;
                cursor: pointer;
                opacity: 0.8;
                transition: $transition;
            }
            p:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }
}
.page__about-section--container {
    .page__about-section--wrapper {
        max-width: 950px;
        margin: 0 auto;

        .page__about-section--right {
            h3 {
                font-family: "Notable", sans-serif;
                color: #5a5a5a;
            }
            p {
                color: #5a5a5a;
            }
            a {
                font-weight: 800;
                transition: $transition;
            }
            a:hover,
            a:visited,
            a:focus {
                opacity: 0.7;
                color: #5a5a5a;
            }
        }
    }
}

.newsletter__container {
    text-align: center;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/newsletter.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

    .newsletter__email {
        border: 6px solid #fff;
        max-width: 300px;
        width: 100%;
        background-color: transparent;
        padding: 13px;
        color: #fff;
        text-align: center;
    }
    h3 {
        color: #fff;
        font-family: "Notable", sans-serif;
        margin-bottom: 35px;
    }
    ::placeholder {
        color: #fff;
    }
    .newsletter__btn {
        border: 6px solid #fff;
        padding: 0 30px;
        margin-top: 15px;
        transition: $transition;
        cursor: pointer;
        color: #fff;
        font-family: "Notable", sans-serif;
        transition: $transition;
        max-width: 300px;
        margin: 15px auto 0 auto;

        p {
            margin-bottom: 8px;
            line-height: 36px;
            padding: 5px 0;
        }
    }
    .newsletter__btn:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.homepage__footer--container {
    background-color: #292929;
    .homepage__footer--wrapper {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        max-width: 950px;
        width: 90%;
        color: #fff;
        font-size: 14px;
        margin: 0 auto;

        p {
            margin: 0;
        }
        a {
            color: #fff;
            font-weight: 600;
            text-decoration: underline;
            transition: $transition;
        }
        a:hover {
            color: rgb(228, 228, 228);
        }
    }
}

.side-options__container {
    position: fixed;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    color: #d6d6d6;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .side-options__divider--short {
        width: 2px;
        height: 15px;
        background-color: #d6d6d6;
        margin: 0 auto;
    }
    .side-options__divider--long {
        width: 2px;
        height: 50px;
        background-color: #d6d6d6;
        margin: 0 auto 10px auto;
    }

    .active-text {
        font-weight: 700;
    }
    p {
        transform: rotate(270deg);
        cursor: pointer;
        transition: $transition;
    }
    p:hover {
        opacity: 0.7;
    }
}

@media screen and (max-width: 480px) {
    .homepage__footer--wrapper p {
        font-size: 11px;
    }
    .newsletter__wrapper {
        width: 80%;
    }
    .side-options__container {
        left: 10px;
    }
    .page__about-section--container {
        .page__about-section--wrapper {
            width: 85%;
            padding: 80px 0;

            .page__about-section--left {
                img {
                    margin-bottom: 30px;
                }
            }
            .page__about-section--right {
                text-align: center;
            }
        }
    }
    .top-panel__left--container {
        img {
            max-width: 100px;
        }
    }
    .page__main-section--wrapper {
        h1 {
            font-size: 40px !important;
        }
        h2 {
            font-size: 26px;
            width: 80%;
        }

        .main-section__top--btn {
            p {
                font-size: 18px;
            }
        }
    }
    .newsletter__btn {
        p {
            font-size: 18px;
        }
    }
    .page__main-section--wrapper {
        .page__main-section--content {
            display: block !important;

            .page__main-section--content-left {
                padding: 35px 0 50px 0;
                text-align: center;
                .page__main-section--divider {
                    margin: 10px auto 15px auto;
                }
                h3 {
                    font-size: 14px;
                }
                .homepage__download--btn-container {
                    justify-content: center;
                }
            }
            .page__main-section--content-right {
                text-align: center;
                img {
                    max-width: 250px;
                    padding: 0 0 50px 0;
                }
            }
        }
    }
    .homepage__download--btn-container {
        img {
            max-width: 110px;
        }
    }
    .homepage__section-header__container {
        margin: 50px 0 40px 0;

        h4 {
            font-size: 16px;
        }
    }
    .homepage__how-it-works-section--description-container {
        p {
            font-size: 14px;
            padding-top: 30px;
            line-height: 24px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 980px) {
    // .page__main-section--container {
    //     margin-top: 70px;
    // }
    .page__about-section--container {
        .page__about-section--wrapper {
            width: 80%;
            padding: 100px 0;

            .page__about-section--left {
                img {
                    margin-bottom: 40px;
                }
            }
            .page__about-section--right {
                text-align: center;
            }
        }
    }
    .top-panel__left--container {
        img {
            max-width: 110px;
        }
    }
    .page__main-section--wrapper {
        h1 {
            font-size: 52px;
        }
        h2 {
            font-size: 30px;
        }
        .main-section__top--btn {
            p {
                font-size: 18px;
            }
        }
    }
    .homepage__download--btn-container {
        img {
            max-width: 110px;
        }
    }
    .homepage__section-header__container {
        margin: 50px 0 40px 0;

        h4 {
            font-size: 18px;
        }
    }
    .homepage__how-it-works-section--description-container {
        p {
            font-size: 14px;
            padding-top: 30px;
        }
    }
    .newsletter__btn {
        p {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 981px) {
    .page__about-section--container {
        .page__about-section--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .page__about-section--left {
                width: 100%;
                padding-right: 20px;
            }
            .page__about-section--right {
                width: 100%;
                padding-left: 20px;
            }
        }
    }
    .top-panel__left--container {
        img {
            max-width: 130px;
        }
    }

    .page__main-section--wrapper {
        h1 {
            font-size: 90px;
        }
        h2 {
            font-size: 50px;
        }

        .main-section__top--btn {
            p {
                font-size: 22px;
            }
        }
    }
    .newsletter__btn {
        p {
            font-size: 22px;
        }
    }
    .homepage__download--btn-container {
        img {
            max-width: 120px;
        }
    }
    .homepage__section-header__container {
        margin: 50px 0 40px 0;

        h4 {
            font-size: 20px;
        }
    }
    .page__about-section--container {
        margin: 90px 0;

        .page__about-section--right {
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}

@media screen and (min-width: 481px) {
    .page__main-section--top-panel {
        display: flex;
        justify-content: space-between;
    }
    .side-options__container {
        left: 30px;
    }
}
