.user-search-box__container {
    margin-bottom: 25px;

    input {
        max-width: $maxInputWidth;
    }
}
.danger-row {
    background-color: $lightRed;
}
.success-row {
    background-color: $lightGreen;
}
